#center {
  display: flex;
  flex-direction: column;
  gap: 25px;
  place-content: center;
  place-items: center;
  flex-grow: 1;

  @media (max-width: 1024px) {
    padding: 32px 20px 24px;
    gap: 18px;
  }
}

#spacer {
  height: 88px;
  @media (max-width: 1024px) {
    height: 28px;
  }
}

input {
  padding: 10px;
  font-size: 1rem;
  border-radius: 8px;
  border: 1px solic #ccc;
  outline: none;
  width: 100%;
  max-width: 300px;
}

input:focus {
  border-color: #646cff;
}

.select-container, .radio-container {
  margin-top: 20px;
  display: flex;
  gap: 15px;
  justify-content: center;
}

label {
  font-size: 0.9rem;
}

.custom-checkbox {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  user-select: none;
}

.custom-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 4px;
  border: 1px solid #ccc;
  transition: all 0.2s;
}

.custom-checkbox input:checked ~ .checkmark {
  background-color: #646cff;
  border-color: #646cff;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.custom-checkbox input:checked ~ .checkmark:after {
  display: block;
}

.custom-checkbox .checkmark:after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0px 3px 3px 0px;
  transform: rotate(45deg);
}
